@import './globalStyle.scss';

.banner{
    @include banner;
    height: 70vh;
    .banner-msg{
        position: absolute;
        left: 10%;
        bottom: 20%;
        .header{
            font-size: 5rem;
            font-weight: bold;
        }
        .msg{
            font-size: 2rem;
        }
        span{
            color: $white;
            display: block;
        }
    }
}