$mainFont: 'HK Grotesk', 'Roboto', sans-serif;
$subFont: 'Comfortaa', cursive;
$bgColor: #F4F1E9;

$midGreen: #688F4E;
$lightGreen: #B1D182;
$darkGreen: #2B463C;
$cool-white: #F4F1E9;
$white: #f5f5f5;
$black: #2B463C;